@charset "UTF-8";
/* CSS Document */

/*HEADER REFERENCE: https://codepen.io/team/css-tricks/pen/YqaKYR*/
header{
  background-color: #F5F7FA;
  color: #252525;
}

#header-content{
  border-bottom: 1px solid #ECF0F1;
}

#header-name{
  font-family: 'Montserrat', sans-serif;
}
.navigation {
  list-style: none;
  margin: 0; 
    
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  
  -webkit-flex-flow: row wrap;
  justify-content: flex-end;
}

.navigation a {
  color: inherit;
  display: block;
}

#logo{
  display: inline-block;
}
/*HEADER REFERENCE: https://codepen.io/team/css-tricks/pen/YqaKYR*/

/*FOOTER REFERENCE: https://css-tricks.com/couple-takes-sticky-footer*/
footer{
  background-color: #252525;
  color: #F5F7FA;
  height: 70px;
}
#main-content{
  min-height: calc(100vh - 60px);
}
#footer-social a{
  text-decoration: none;
  color: inherit;
}
/*FOOTER REFERENCE: https://css-tricks.com/couple-takes-sticky-footer*/

.content-space{
  height: 400px;
}

#main-hero{
  background-color: #236d9e;
  color: #F5F7FA;
  position: relative;
}
#main-hero-content{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#project-featurette{
  background-color: #F5F7FA;
  color: #252525;
}

#blog-featurette{
  background-color: #2ec96e;
  color: #252525;
}

/*MEDIUM BREAKPOINT - 767px from semantic.min.css*/
@media all and (max-width: 767px) {
  #header-name{
    text-align: center;
    padding: 1em 0 0 0 !important;
    font-size: 1.5em;
  }
  #header-name > p{
    padding: 0.5em !important;
  }
  #header-menu-large{
    display: none;
  }
}

/*SMALL BREAKPOINT*/
@media all and (max-width: 600px) {

}