@charset "UTF-8";
/* CSS Document */

/*HEADER REFERENCE: https://codepen.io/team/css-tricks/pen/YqaKYR*/
header{
  color: #252525;
}

#header-content{
  border-bottom: 1px solid #252525;
}

#header-name a{
  text-decoration: none;
  color: inherit;
}

.navigation {
  list-style: none;
  margin: 0; 
    
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  
  -webkit-flex-flow: row wrap;
  justify-content: flex-end;
}

.navigation a {
  color: inherit;
  display: block;
}

#logo{
  display: inline-block;
}
/*HEADER REFERENCE: https://codepen.io/team/css-tricks/pen/YqaKYR*/

/*FOOTER REFERENCE: https://css-tricks.com/couple-takes-sticky-footer*/
footer{
  background-color: #252525;
  color: #F5F7FA;
}
html, body {
  height: 100%;
}
body {
  display: flex;
  flex-direction: column;
}
#main-content{
  flex: 1 0 auto;
  margin-top: 1em;
}
#footer-social a{
  text-decoration: none;
  color: inherit;
}
/*FOOTER REFERENCE: https://css-tricks.com/couple-takes-sticky-footer*/

.content-space{
  min-height: 400px;
  padding: 0 1rem;
}

#wireframe-home-img{
  max-width: 320px;
  margin: 0 auto;
}

#main-hero{
  background-color: #F5F7FA;
  color: #252525;
  position: relative;
  border-bottom: 1px solid #252525;
}

#project-featurette{
  color: #252525;
}

/*--- WORK SECTION ---*/

#work-button-container{
  max-width: 620px;
  margin: 0 auto;
}

#appf-work-content{
  background-color: #00afdb;
  color: white;
  display: none;
}

#gadc-work-content{
  background-color: #e21929;
  color: white;
  display: none;
}

#vtec-work-content{
  background-color: #650104;
  color: white;
  display: none;
}

/*--- WORK SECTION ---*/

/*MEDIUM BREAKPOINT - 767px from semantic.min.css*/
@media all and (max-width: 767px) {
  #header-name{
    text-align: center;
    padding: 1em 0 0 0 !important;
    font-size: 1.5em;
  }
  #header-name > p{
    padding: 0.5em !important;
  }
  #header-menu-large{
    display: none;
  }
  #footer-social{
    text-align: center;
  }

  #blog-featurette{
    border-top: 1px solid #252525;
    border-left: 0px;
  }
  h1,h2,h3{
    font-size: 1.5rem;
  }
}

/*SMALL BREAKPOINT*/
@media all and (max-width: 600px) {

}