---
layout: default
title: Sheriff Jolaoso | Blog
tags: blog
---

<div class="container">
  <div class="row d-flex flex-wrap align-items-center">
    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-xs-12 py-5">
      <h1 class="hero-header blog-hero-header u-space-bn">Blog</h1>
      <p>I muse about various topics. Scroll on through to see what's good.</p>
      <p>✌🏿</p> 
    </div>

    <div class="blog-post-section px-5 py-4 col-xl-6 col-lg-6 col-md-6 col-sm-12 col-xs-12">
      {% for post in site.posts %}
      <div class="blog-post-index-listing">
        <div class="u-space-vl">
          <a class="blog-post-index-listing-link" href="{{ post.url }}">{{ post.title }}</a>
          <p class="mb-2">{{ post.subtitle }}</p>
          {% if post.tag == "life"%}
          <span class="blog-post-index-listing-tag tag-life">life</span>
          {% elsif post.tag == "design"%}
          <span class="blog-post-index-listing-tag tag-design">design</span>
          {% else %}
          <span class="blog-post-index-listing-tag tag-other">other</span>
          {% endif %}
        </div>
      </div>
      <hr/>
      {% endfor %}
    </div>

  </div>
</div>