<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page.title }}</title>
      <!--CSS-->
      <link rel="stylesheet" href="css/index.css" type="text/css" />
      <link rel="stylesheet" href="css/suit-utils.css" type="text/css" />
      <link rel="stylesheet" href="css/semantic.min.css" type="text/css" />
      <link rel="stylesheet" href="http://code.jquery.com/ui/1.10.4/themes/smoothness/jquery-ui.css">
      <!--CSS-->
      <!--JS-->
      <script src="http://code.jquery.com/jquery-1.9.1.js"></script>
      <script src="http://code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
      <script src="scripts/semantic.min.js"></script>
      <!--JS-->
  </head>
 
<body> 

  <header>
    <div class="ui grid">
      <div class="eight wide column u-pad-bn">
        <p class="u-pad-am">Sheriff Jolaoso</p>
      </div>
      <div class="eight wide column u-pad-bn">
        <ul class="navigation">
          <li><a href="#" class="u-pad-am">Projects</a></li>
          <li><a href="#" class="u-pad-am">Blog</a></li>
          <li><a href="#" class="u-pad-am">Contact</a></li>
        </ul>
      </div>
    </div>
  </header>
  
  <div id="main-content">
  	{{content}}
  </div>

  <footer>
    <div class="ui grid u-space-tm">
      <div class="eight wide column">
        <p class="u-space-lm">SOCIAL</p>
      </div>
      <div class="eight wide column">
        <p class="u-float-right u-space-rm">COPYWRIGHT</p>
      </div>
    </div>
  </footer>
        
 </body>

</html>
