<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ page.title }}</title>
  <!--CSS-->
  <link rel="stylesheet" href="/css/suit-utils.css" type="text/css" />
  <link rel="stylesheet" href="/css/normalize.css" type="text/css" />
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,800" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700" rel="stylesheet">
  <link rel="stylesheet" href="https://code.jquery.com/ui/1.10.4/themes/smoothness/jquery-ui.css">
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
  <link rel="stylesheet" href="/css/bootstrap.min.css" type="text/css" />
  <link rel="stylesheet" href="/css/index.css" type="text/css" />
  <!--CSS-->
  <!--JS-->
  <script src="https://code.jquery.com/jquery-1.9.1.js"></script>
  <script src="https://code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
  <script src="/scripts/work.js"></script>
  <script src="/scripts/side-projects.js"></script>
  <!--JS-->
</head>

<body> 
  <header>
    <div id="header-content row">
      <div id="header-name" class="u-pad-bn col-md-6 col-lg-6 col-sm-6">
        <p class="u-pad-vm"><a href="/">Sheriff Jolaoso</a></p>
      </div>
      <div id="header-menu-large" class="u-pad-an col-md-6 col-lg-6 col-sm-6">
        <ul class="navigation">
          {% if page.tags == "work" or "side-projects" %}
          <li><a href="/work" class="navigation-selected u-pad-am">Work</a></li>
          {% else %}
          <li><a href="/work" class="u-pad-am">Work</a></li>
          {% endif %}
          <li><a href="mailto:sheriff.jolaoso@gmail.com" class="u-pad-am">Email Me</a></li>
        </ul>
      </div>
    </div>
  </header>
  
  <!-- "if work page, show work menu" goes here-->
  {% if page.tags == "work"%}

  <div id="work-profile-hero" class="u-text-center">
    <h1 class="u-pad-ts">Work</h1>
    <p>
      Over the past five years I have gained expertise and improved my skill set in academia and the workforce.
      <a href="/side-projects">I do other stuff for myself too.</a>
    </p>
  </div>
  <div id="work-navigation" class="container-fluid">
    <div id="work-button-container" class="row">
      <div class="wbcc col-md-4 col-lg-4 col-sm-4 col-xl-4">
        <button id="appf-work-button" class="work-button" tabindex="0" aria-label="show AppFolio work sample button">
          <div class="row vcenter">
            <a class="work-button-image col-md-3 col-lg-3 col-sm-3 col-xl-3 container">
              <img src="/assets/appf240.png" class="img-responsive">
            </a>
            <p class="work-button-label col-md-9 col-lg-9 col-sm-9 col-xl-9">AppFolio</p>
          </div>
        </button>
      </div>
      <div class="wbcc col-md-4 col-lg-4 col-sm-4 col-xl-4">
        <button id="vtec-work-button" class="work-button" tabindex="0" aria-label="show Virginia Tech work sample button">
          <div class="row vcenter">
            <a class="work-button-image col-md-3 col-lg-3 col-sm-3 col-xl-3 container">
              <img src="/assets/vtec240.png" class="img-responsive">
            </a>
            <p class="work-button-label col-md-9 col-lg-9 col-sm-9 col-xl-9">Virginia Tech</p>
          </div>
        </button>
      </div>
      <div class="wbcc col-md-4 col-lg-4 col-sm-4 col-xl-4">
        <button id="gadc-work-button" class="work-button" tabindex="0" aria-label="show General Assembly work sample button">
          <div class="row vcenter">
            <a class="work-button-image col-md-3 col-lg-3 col-sm-3 col-xl-3 container">
              <img src="/assets/gadc240.png" class="img-responsive">
            </a>
            <p class="work-button-label col-md-9 col-lg-9 col-sm-9 col-xl-9">General Assembly</p>
          </div>
        </button>
      </div>
    </div>
  </div>

  {% endif %}

   <!-- "if work page, show work menu" goes here-->
  {% if page.tags == "side-projects"%}

  <div id="work-profile-hero" class="u-text-center">
    <h1 class="u-pad-ts">Side projects</h1>
    <p>
      You've found my treasure trove.
      <br/>
      <a href="/work" class="u-pad-bm"> << Back to my work samples</a>
    </p>
  </div>
  <div id="work-navigation" class="container-fluid">
    <div id="work-button-container" class="row">
      <div class="wbcc col-md-6 col-lg-6 col-sm-6 col-xl-6">
        <button id="mint-work-button" class="work-button" tabindex="0" aria-label="show Mint Scrape work sample button">
          <div class="row vcenter">
            <a class="work-button-image col-md-3 col-lg-3 col-sm-3 col-xl-3 container">
              <img src="/assets/mint100-circle.png" class="img-responsive">
            </a>
            <p class="work-button-label col-md-9 col-lg-9 col-sm-9 col-xl-9">MintScrape</p>
          </div>
        </button>
      </div>
      <div class="wbcc col-md-6 col-lg-6 col-sm-6 col-xl-6">
        <button id="fitb-work-button" class="work-button" tabindex="0" aria-label="show Fit builder plus plus work sample button">
          <div class="row vcenter">
            <a class="work-button-image col-md-3 col-lg-3 col-sm-3 col-xl-3 container">
              <img src="/assets/fitb100.png" class="img-responsive">
            </a>
            <p class="work-button-label col-md-9 col-lg-9 col-sm-9 col-xl-9">Fitbuilder++</p>
          </div>
        </button>
      </div>
    </div>
  </div>

  {% endif %}

  <div id="main-content">
    {{content}}
  </div>

  <footer>
    <div>
      <div id="footer-social">
        <div class="u-pad-am">
          <a href="https://www.linkedin.com/in/sjolaoso/"><i class="fa fa-3x fa-linkedin-square" aria-hidden="true"></i></a>
          <a href="https://twitter.com/shrffj"><i class="fa fa-3x fa-twitter-square u-space-ls" aria-hidden="true"></i></a>
          <a href="mailto:sheriff.jolaoso@gmail.com"><i class="fa fa-3x fa-envelope-square u-space-ls" aria-hidden="true"></i></a>
        </div>
      </div>
    </div>
  </footer>
</body>
</html>
